.overview-cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 950px;
}

.overview-cards div {
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
    box-shadow: 0px 0px 5px 0px #00000065;
    border-radius: 10px;
}

.overview-cards div p {
    text-align: center;
}

.overview-cards div h2 {
    font-size: 2rem;
}

body {
    margin: 0px;
    font-family: "Inter", serif;
}

.b_sub>h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: normal;
}

.spacing_2 {
    line-height: 1.75;
}

.strip {
    max-width: 950px;
    margin: 10px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.strip h2 {
    text-align: center;
    margin-bottom: 20px;
}

#gallery_title {
    margin-bottom: 0px;
}



.gallery_view {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
}

.feedback_cols {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
}



.feedback_strip {
    flex-grow: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* align-items: top; */
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;


}

.feedback_strip img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #00000058;
    /* height: auto; */
    /* object-fit: contain; */
}

.gallery_view img {
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #00000065;
}

#sm_post {
    max-width: 100%;
}

#sm_post iframe {
    border-color: lightgray;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    /* width: 550; */
    height: 450;
    overflow-x: visible;
}

#sm_post_container {
    display: flex;
    gap: 10px;
}

.gallery_view img.landscape {
    width: 100%;
}

.objectives {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.objectives p {
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #00000065;
}

.centered {
    align-items: center;
}

.b_sub>h1 {
    margin-bottom: 70px;
    font-size: 3rem;
    margin-top: 0px;
}

.b_sub {

    flex-direction: column !important;
    padding-bottom: 90px;
}
