
html {
    scroll-behavior: smooth;
  }

  
body {
    margin: 0px;
    font-family: "Montserrat", serif;
    /* font-size: 1.17rem; */
}

a {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #235a9a;
}

a:hover {
    background-color: #235a9a !important;
    color: white !important;
}


h1 {
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 5rem;
}

#cert_list li {
    margin-bottom: 10px;
}

#cert_list li:hover {
    background-color: #235a9a;
    /* list-style: symbols() */

}

#gpa_list li {
    margin-bottom: 2px;
}

.banner {
    justify-content: center;
    padding: 20px;
    padding-bottom: 30px;
    background-color: lightgrey;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 95%);
    display: flex;
    flex-direction: row;
    padding-left: 35px;
}

.banner h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner h2 {
    margin-bottom: 18.72px;
    margin-top: 90px;
}

.banner h3 {
    font-weight: 400;
    margin-bottom: 50px;
    font-size: 1.17rem;
}

.banner > #left {
    display: flex;
    flex-direction: column;
    /* width: 25rem; */
    align-items: flex-start;
}

div#left {
    width: 30rem;
}

div#right {
    display: flex;
    flex-grow: 3;
    
    justify-content: flex-end;
    padding-right: 0px;
    margin-left: 50px;
} 
.banner_content {
    width:950px;
    display: flex;
    flex-direction: row;
}

#features {
    
    max-width: 950px;
    justify-self: center;
    margin: 10px;
    
}

#features {

    padding-bottom: 40px;
}

#features>h2 {
    font-size: 2.2rem;
    margin-top: 70px;
    /* margin-top: 0px; */
}

#features p {
    font-size: 1.17rem;
}

#features a {
    font-size: 1.17rem;
}

.overview-cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 950px;
}

.overview-cards div {
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
    box-shadow: 0px 0px 5px 0px #00000065;
    border-radius: 10px;
}

.overview-cards div p {
    text-align: center;
}

.overview-cards div h2 {
    font-size: 2rem;
}

body {
    margin: 0px;
    font-family: "Montserrat", serif;
}

.b_sub>h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: normal;
}

.spacing_2 {
    line-height: 1.75;
}

.strip {
    max-width: 950px;
    margin: 10px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.strip h2 {
    text-align: center;
    margin-bottom: 20px;
}

#gallery_title {
    margin-bottom: 0px;
}



.gallery_view {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
}

.feedback_cols {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
}



.feedback_strip {
    flex-grow: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* align-items: top; */
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;


}

.feedback_strip img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #00000058;
    /* height: auto; */
    /* object-fit: contain; */
}

.gallery_view img {
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #00000065;
}

#sm_post {
    max-width: 100%;
}

#sm_post iframe {
    border-color: lightgray;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    /* width: 550; */
    height: 450;
    overflow-x: visible;
}

#sm_post_container {
    display: flex;
    gap: 10px;
}

.gallery_view img.landscape {
    width: 100%;
}

.objectives {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.objectives p {
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #00000065;
}

.centered {
    align-items: center;
}

.b_sub>h1 {
    margin-bottom: 70px;
    font-size: 3rem;
    margin-top: 0px;
    text-shadow: 0px 0px 5px #00000058;
}

.b_sub {
    background-color: #34344A;
    flex-direction: column !important;
    padding-bottom: 90px;
    color: white;
    /* background: radial-gradient(circle at 100%,#FFFFFF00 50%, #787ef675), radial-gradient(circle at 0%,#EC1AE8 0%, #FFFFFF00 100%);
     */
}

.overview {
    box-shadow: 0px 0px 5px 0px #00000040;
    padding: 10px;
    border-radius: 10px;
}

.overview p {
    /* font-size: 1.17rem; */
    font-style: italic;
    line-height: 1.75;
    margin-top: 0px;
}

.banner a{
    font-size: 1.17rem;
}

.banner h3 {
    font-size: 1.17rem;
}

.contacts>h2 {
    font-size: 2.2rem;
    /* margin-top: 0px; */
}

.vl {
    margin-top: 15px;
    border-left: 1px solid lightgrey;
    
}

#detail {
    max-width: 950px;
    margin: 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-self:center;
    flex-grow: 1;
    /* overflow-x: hidden;  */
}

#detail>h2 {
    font-size: 2.2rem;
}

#profile_link {
    margin-top: 50px;
}

.feat_illustr {
    height: 100%;
    width: fit-content;
    padding: 20px;
    padding-right: 10px;
    align-self: center;
}

.feat_info {
    flex-grow: 1;
    align-self: flex-start;
}

.awards_title {
    font-size: 1.17rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.contacts {
    max-width: 950px;
    margin: 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-self:center;
    flex-grow: 1;
}

#overview_row {
    display: flex;
    gap: 15px;
    width: calc(100% - 30px);
    max-width: 950px;
    margin-right: 10px ;

    border-radius: 15px ;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.237);
    padding: 15px;
    padding-top: 0px;
    margin-right: 20px;
    
}

.award_list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    flex-direction: row;
}

.award_card {
    max-width: 29%;
    padding: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.237);
    /* width: ; */
}

.award_card p {
    color: grey
}

.award_title {
    font-weight: normal;
}

#education {
    /* flex-grow: 1; */
    width: 50%;
    /* width: fit-content; */
    align-self: flex-start;
    font-size: 1.17rem;
}

#certs {
    width: 50%;
    font-size: 1.17rem;
    /* max-width: fit-content; */
}

.feat_card {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.237);
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

.feat_illustr {
    max-width: 30%;
}

a.styled {
    color: #ffffff;
    padding: 10px;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    transition: background-color 0.1s ease-out;

}

a.styled:hover {
    background-color: white;
    color: #235a9a;
}

.nopadding {
    padding: 0px !important;
}


a.styled_noborder {
    color: white;
    padding: 10px;
    text-decoration: none;
}

a.styled_noborder:hover {
    background-color: #ffffff;
    color: #235a9a;
}

.feat_info h3 {
    font-size: 2rem;
    padding-left: 10px;
}

.feat_info p {
    padding-left: 10px;
    padding-bottom: 1.2rem;
}

.spaced_container {
    display: flex;
    gap: 15px;
}

select {
    padding:5px;
    color: #235a9a;
    border-color: #235a9a;
    border-style: solid;
    background-color: white;
}

select:hover {
    background-color:#235a9a;
    color: white;
}

select option {
    background-color: white;
    color: black;
}

select option:hover {
    background-color: #235a9a;
    color:white;
}

button {
    padding: 5px;
    color: #235a9a;
    background-color: white;
    border-style: solid;
    border-color: #235a9a;
    border-width: 1.5px;
    font-family: "Montserrat", sans-serif;
}

button:hover {
    font-family: "Montserrat", sans-serif;
    padding: 5px;
    color: white;
    background-color: #235a9a;
    border-style: solid;
    border-color: #235a9a;
}